@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: var(--font-primary);
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:#2135A6;
    margin: 0;

}

:root {
    --color-brand-primary: #F67841;
    --color-brand-secondary: #F3541C;
    --color-brand-tertiary: #E43A12;
    --color-brand-quaternary: #2135A6;
    --color-brand-dark: #e64a19;
    --color-brand-dark-hover: #b33610;


    --color-surface-primary: #FFFFFF;
    --color-surface-secondary: #FEE7D6;
    --color-surface-disabled: #E7E5E4;

    --color-text-primary: #292524;
    --color-text-secondary: #57534E;
    --color-text-tertiary: #8F8881;
    --color-text-highlight: #E43A12;

    --color-stroke-default: #D6D3D1;
    --color-stroke-highlight: #F3541C;
    --color-stroke-hightlight-focus: rgba(243, 84, 28, 0.9); 
    
    --color-text-input-file: #A8A29E;

    --color-semantic-error: #DC2626;

    --font-primary: 'Poppins', sans-serif;
}

.heading1 {
    font-size: 2rem; /* Dividir 16, encontra valor em rem */
    line-height: 120%;
    font-weight: bold;
    margin: 1rem 0;
}

.heading2 {
    font-size: 1.5rem;
    line-height: 120%;
    font-weight: bold;
}

.heading3 {
    font-size: 1.25rem;
    line-height: 120%;
    font-weight: bold;
}

.heading4 {
    font-size: 1.25rem;
    line-height: 120%;
    font-weight: 600;
}

.text {
    color: var(--color-text-secondary);
    font-size: 1rem;
    line-height: 120%;
}

.text__primary {
    color: var(--color-text-primary);
}

.text__secondary {
    color: var(--color-text-secondary);
}

input {
    height: 48px;
    border: 1px solid var(--color-stroke-default);
    border-radius: 8px;
    color: var(--color-text-primary);
    font-size: 1rem;
    padding: 12px;
}

input:focus {
    outline: none;
    box-shadow: 0 0 5px var(--color-stroke-hightlight-focus);
    border: 2px solid var(--color-stroke-highlight);
}

button {
    font-family: var(--font-primary);
    background:#e64a19;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    margin-top: 10px;
}

#login {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 600px;
    gap: 10px;
}

.loginForm {
    background: white;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.loginForm img {
    align-self: center;
    margin: 1rem 0;
    width: 50%;
}

.fields {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.help-text {
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--color-semantic-error);
    font-size: 14px;
}


.help__text--hidden {
    display: none;
}