@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: var(--font-primary);
}

:root {
    --color-brand-primary: #F67841;
    --color-brand-secondary: #F3541C;
    --color-brand-tertiary: #E43A12;
    --color-brand-quaternary: #2135A6;
    --color-brand-dark: #e64a19;
    --color-brand-dark-hover: #b33610;


    --color-surface-primary: #FFFFFF;
    --color-surface-secondary: #FEE7D6;
    --color-surface-disabled: #E7E5E4;

    --color-text-primary: #292524;
    --color-text-secondary: #57534E;
    --color-text-tertiary: #8F8881;
    --color-text-highlight: #E43A12;

    --color-stroke-default: #D6D3D1;
    --color-stroke-highlight: #F3541C;
    --color-stroke-hightlight-focus: rgba(243, 84, 28, 0.9); 
    
    --color-text-input-file: #A8A29E;

    --color-semantic-error: #DC2626;

    --font-primary: 'Poppins', sans-serif;
}

.heading1 {
    font-size: 2rem; /* Dividir 16, encontra valor em rem */
    line-height: 120%;
    font-weight: bold;
}

.heading2 {
    font-size: 1.5rem;
    line-height: 120%;
    font-weight: bold;
}

.heading3 {
    font-size: 1.25rem;
    line-height: 120%;
    font-weight: bold;
}

.heading4 {
    font-size: 1.25rem;
    line-height: 120%;
    font-weight: 600;
}

.text {
    color: var(--color-text-secondary);
    font-size: 1rem;
    line-height: 120%;
}

.back__container {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
}

.text__primary {
    color: var(--color-text-primary);
}

.text__secondary {
    color: var(--color-text-secondary);
}

.spacing__default {
    padding: 64px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.background-blue {
    background-color: var(--color-brand-quaternary);
    height: 100%;
}

.illustration {
    align-self: center;
}

.image-container {
    flex: 1;
    background: var(--color-brand-quaternary);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 75px;
    position: sticky;
    top: 0;
    height: 100vh;
}

.form-container {
    flex: 1;
    padding: 1.25rem;
    overflow-y: auto;
}

.form__register {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.info__participant {
    display: flex;
    font-size: 1rem;
    color: var(--color-text-primary);
    width: 100%;
    flex-direction: column;
    height: 10%;
    margin-top: 24px;
    line-height: 120%;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.input__label {
    font-weight: 400;
    font-size: 0.875rem;
    color: var(--color-text-secondary);
    line-height: 140%;
}

input {
    height: 48px;
    border: 1px solid var(--color-stroke-default);
    border-radius: 8px;
    color: var(--color-text-primary);
    font-size: 1rem;
    padding: 12px 16px;
}

input:focus {
    outline: none;
    box-shadow: 0 0 5px var(--color-stroke-hightlight-focus);
    border: 2px solid var(--color-stroke-highlight);
}

input::placeholder {
    color: var(--color-text-secondary);
    font-family: var(--font-primary);
}

input[type="date"] {
    font-family: var(--font-primary);
}

input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

input[type="date"]::-webkit-datetime-edit {
    color: var(--color-text-secondary);
}

select {
    appearance: none; /* Remove a aparência padrão */
    -webkit-appearance: none; /* Para Safari e Chrome */
    -moz-appearance: none; /* Para Firefox */
    
    border: 1px solid var(--color-stroke-default);
    border-radius: 8px;
    color: var(--color-text-primary);
    font-size: 1rem;
    height: 48px;
    padding: 12px 16px;

    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 24px;
}

select:focus {
    box-shadow: 0 0 5px var(--color-stroke-hightlight-focus);
    border: 2px solid var(--color-stroke-highlight);
    outline: none;
}

input[type="file"] {
    display: none;
}

.file__label {
    border: 1px dashed var(--color-stroke-default);
    border-radius: 8px;
    background-color: var(--color-surface-primary);
    color: var(--color-text-input-file);
    font-size: 1rem;
    height: 160px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.residential__fields {
    display: flex;
    gap: 16px;
    width: 100%;
}

.residential__fields .field:first-child {
    width: 66%;
}

.residential__fields .field:last-child {
    width: 33%;
}

.text__command {
    font-size: 0.875rem;
    color: var(--color-text-secondary);
}

.radio__group {
    display: flex;
    gap: 1.5rem;
}

.cards__trilhas_container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.radio__card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid var(--color-stroke-default);
    border-radius: 8px;
    cursor: pointer;
    padding: 32px 16px 16px;
    width: 100%;
    height: 120px;
    text-align: center;
}

.card__data_science {
    width: 49%;
}

.radio__card input {
    position: absolute;
    top: 8px;
    left: 8px;
    height: auto;
    box-shadow: none;
}

input[type="radio"]:checked {
    border: 2px solid var(--color-stroke-highlight);    
}

input[type="checkbox"] {
    height: auto;
}

.terms {
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    color: var(--color-text-secondary);
    display: flex;
    align-items: center;
    margin: 24px 0;
}

.terms a {
    color: #ff5722;
    text-decoration: none;
    font-weight: bold;
}

.terms__highlight {
    color: var(--color-brand-tertiary);
    font-weight: 500;
}

.buttons__container {
    display: flex;
    gap: 12px;
    justify-content: flex-end; 
}

.cancel {
    background: transparent;
    border: 2px solid var(--color-text-highlight);
    color: var(--color-text-highlight);
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    font-family: var(--font-primary);
}

.subscribe {
    background: var(--color-brand-dark);
    border: none;
    color: var(--color-surface-primary);
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    font-family: var(--font-primary);
}

.cancel:hover {
    background: var(--color-text-highlight);
    color: var(--color-surface-primary);
}

.subscribe:hover {
    background: var(--color-brand-dark-hover);
}

.help-text {
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--color-semantic-error);
    font-size: 14px;
}

.help-text img {
    width: auto;
}

.help__text--hidden {
    display: none;
}

.file-preview {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px dashed var(--color-stroke-default);
    border-radius: 8px;
    padding: 12px 16px;
    background-color: var(--color-surface-primary);
    color: var(--color-text-primary);
    font-size: 0.9rem;
    margin-top: 8px;
}

.file-preview i.fa-file {
    color: var(--color-brand-dark);
    margin-right: 8px;
}

.remove-file {
    background: transparent;
    border: none;
    cursor: pointer;
    color: var(--color-semantic-error);
    font-size: 1.2rem;
}

.hidden {
    display: none;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
}

@media (max-width: 1030px){
    .spacing__default {
        padding: 16px;
    }

    .image-container {
        display: none;
    }

    .card__data_science {
        width: 47.5%;
    }

    .residential__fields {
        flex-direction: column;
    }

    .residential__fields .field:first-child {
        width: 100%;
    }
    
    .residential__fields .field:last-child {
        width: 100%;
    }
}

@media (max-width: 400px) {
    .radio__group {
        flex-direction: column;
        gap: 0.5rem;
    }

    .radio__card {
        width: 100%;
    }
}