@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
}

:root {
    --color-brand-primary: #F67841;
    --color-brand-secondary: #F3541C;
    --color-brand-tertiary: #E43A12;
    --color-brand-quaternary: #2135A6;

    --color-surface-primary: #FFFFFF;
    --color-surface-secondary: #FEE7D6;
    --color-surface-disabled: #E7E5E4;

    --color-text-primary: #292524;
    --color-text-secondary: #57534E;
    --color-text-tertiary: #8F8881;
    --color-text-highlight: #E43A12;

    --color-stroke-default: #D6D3D1;
    --color-stroke-highlight: #F3541C;
    --color-stroke-hightlight-focus: rgba(243, 84, 28, 0.9); 
    
    --color-text-input-file: #A8A29E;

    --color-semantic-error: #DC2626;

    --font-primary: 'Poppins', sans-serif;
}

.heading1 {
    font-family: var(--font-primary);
    font-size: 2rem; /* Dividir 16, encontra valor em rem */
    line-height: 120%;
    font-weight: bold;
}

.heading2 {
    font-family: var(--font-primary);
    font-size: 1.5rem;
    line-height: 120%;
    font-weight: bold;
}

.heading3 {
    font-family: var(--font-primary);
    font-size: 1.25rem;
    line-height: 120%;
    font-weight: bold;
}

.heading4 {
    font-family: var(--font-primary);
    font-size: 1.25rem;
    line-height: 120%;
    font-weight: 600;
}

.text {
    color: var(--color-text-secondary);
    font-family: var(--font-primary);
    font-size: 1rem;
    line-height: 120%;
}

.center-back {
    display: flex;
    align-items: center;
    gap: 8px;
}

.text-primary {
    color: var(--color-text-primary);
}

.text-secondary {
    color: var(--color-text-secondary);
}

.spacing-default {
    padding: 64px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.background-blue {
    background-color: var(--color-brand-quaternary);
    height: 100%;
}

.image-container {
    flex: 1;
    background: var(--color-brand-quaternary);
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    height: 100vh;
}

.form-container {
    flex: 1;
    padding: 1.25rem;
    overflow-y: auto;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.informacoes__participante {
    align-items: left;
    display: flex;
    font-size: 1rem;
    color: var(--color-text-primary);
    font-family: var(--font-primary);
    width: 100%;
    flex-direction: column;
    height: 10%;
    margin-top: 24px;
    line-height: 120%;
}

.campo {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.entrada {
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 0.875rem;
    color: var(--color-text-secondary);
    line-height: 140%;
}

input {
    height: 48px;
    border: 1px solid var(--color-stroke-default);
    border-radius: 8px;
    color: var(--color-text-primary);
    font-family: var(--font-primary);
    font-size: 1rem;
    padding: 12px 16px;
}

input:focus {
    outline: none;
    box-shadow: 0 0 5px var(--color-stroke-hightlight-focus);
    border: 2px solid var(--color-stroke-highlight);
}

input[type="text"]::placeholder {
    color: var(--color-text-secondary);
}

select {
    appearance: none; /* Remove a aparência padrão */
    -webkit-appearance: none; /* Para Safari e Chrome */
    -moz-appearance: none; /* Para Firefox */
    
    border: 1px solid var(--color-stroke-default);
    border-radius: 8px;
    color: var(--color-text-primary);
    font-family: var(--font-primary);
    font-size: 1rem;
    height: 48px;
    padding: 12px 16px;

    background-image: url('../../assets/images/icons/arrow-down-01.svg');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 24px;
}

select:focus {
    box-shadow: 0 0 5px var(--color-stroke-hightlight-focus);
    border: 2px solid var(--color-stroke-highlight);
    outline: none;
}

input[type="file"] {
    display: none;
}

.file-label {
    border: 1px dashed var(--color-stroke-default);
    border-radius: 8px;
    background-color: var(--color-surface-primary);
    color: var(--color-text-input-file);
    font-size: 1rem;
    height: 160px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}